body>.container {
    margin-top: 70px;
}

h1 {
    font-size: 25pt;
    text-align: center;
    font-weight: 400;
    margin-bottom: 5pt;
}

h1::after {
    content: "";
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background: url('../assets/borda-quadrada.svg');
    border-width: 0;
    height: 4px;
    display: block;
}

.anoProjeto {
    font-size: 15pt;
}

.indicadorStatus {
    font-family: 'Roboto Slab', serif;
    display: block;
    text-align: center;
}

.indicadorStatus::before {
    content: "Status: "
}

/* Responsividade de imagens compostas dentro de artigos */

article figure[role=group] {
    display: flex;
    margin: 0;
}

article figure[role=group]>figure {
    margin: 2pt;
    max-height: 100%;
}

article figure[role=group]>figure>img {
    width: 100%;
}

.xlimg,
.limg {
    display: none;
}

@media only screen and (min-width: 300px) {
    .limg {
        display: initial;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .limg {
        display: initial;
    }
}

/* Medium devices (landscape tablets, 895px and up) */

@media only screen and (min-width: 895px) {
    .xlimg {
        display: initial;
    }
}