/*
Paleta de cores:
#0D5C63 DEEP GREEN-CYAN TURQUOISE
#468189 TEAL BLUE
#6F8695 SLATE GREY
#031926 MASTRICHT BLUE
#FFFFFA BABY POWDER
#F05D5E SUNSET ORANGE
#E7ECEF GLITTER
*/

@import url('https://fonts.googleapis.com/css?family=Exo+2:200, 300,400, 700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffffa;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

#hero {
    background-color: #031926;
    color: #FFFFFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20pt;
}

#hero a:link,
#hero a:visited {
    color: #FFFFFA;
    box-shadow: 0 6pt 0pt -3pt #FFFFFA;
}

#hero a:hover {
    color: #F05D5E;
    box-shadow: 0 6pt 0pt -3pt #F05D5E;
}

#hero>.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 275px;
}

#saudacao {
    font-size: 25pt;
    line-height: 25pt;
    font-weight: 300;
}

#subtexto {
    font-weight: 200;
}

#subtexto ul,
#subtexto li {
    list-style-type: none;
}

#subtexto li::before {
    content: none;
}

#subtexto li>i.fab,
#subtexto li>i.fas {
    margin-right: 5pt;
}

#setaDescer {
    position: absolute;
    bottom: 0;
    margin: 15px auto;
    display: inline-block;
    text-align: center;
    font-size: 18pt;
    box-shadow: none !important;
    cursor: pointer;
}

.container {
    width: auto;
    margin: 10px 15px;
}

.tituloSection {
    display: block;
}

.tituloSection::after {
    content: "";
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background: url('../assets/borda-quadrada.svg');
    border-width: 0;
    height: 4px;
    display: block;
}

.tituloSection>h2 {
    font-size: 25pt;
    text-align: center;
    font-weight: 400;
    margin-bottom: 5pt;
}

/* Artigos */

/* article+article>h3:first-of-type::before {
    content: "";
    width: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: url('../assets/borda-quadrada-azul.svg');
    border-width: 0;
    height: 4px;
    display: block;
} */

.anoProjeto {
    white-space: nowrap;
    font-weight: 400;
    font-size: 12pt;
    margin-left: 5pt;
    margin-left: 5pt;
}

.anoProjeto::before {
    content: "(";
}

.anoProjeto::after {
    content: ")";
}

/* Artigos */

/* .indicadorStatus {
    font-family: 'Roboto Slab', serif;
} */

/* Artigos */

/* .indicadorStatus::before {
    content: "Status: "
} */

/* Artigos - JogoTrivia*/

/* #jogoTrivia>div.wrapper {
    display: flex;
    flex-direction: column;
} */

/* Artigos - JogoTrivia*/

/* #jogoTrivia>div.wrapper>p:first-of-type {
    order: 1;
} */

/* Artigos - JogoTrivia*/

/* #jogoTrivia>div.wrapper>#imgJogoTrivia {
    order: 2;
} */

/* Artigos */

/* article section {
    margin-left: 10pt;
    margin-right: 10pt;
} */

/* Artigos */

/* article figure[role=group] {
    display: flex;
    margin: 0;
} */

/* Artigos */

/* article figure[role=group]>figure {
    margin: 2pt;
} */

/* Artigos */

/* article figure[role=group]>figure>img {
    width: 100%;
} */

/* Artigos - JogoTrivia*/

/* article figure[role=group]>figure::after {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 12px;
    background: black;
    border-radius: 100%;
    filter: blur(5px);
    content: "";
    position: relative;
    bottom: 12px;
} */

/* Artigos - JogoTrivia*/

/* .xlimg,
.limg {
    display: none;
} */

/* Artigos - euler */

/* ul.linksProblemas {
    padding-left: 15pt;
} */

/* Artigos - euler */

/* ul.linksProblemas>li::before {
    display: none;
} */

/* Artigos - euler */

/* ul.linksProblemas>li+li::before {
    content: "|";
    margin: initial 5pt;
    display: inline;
    color: #0d5c63;
} */

/* Artigos - euler */

/* ul.linksProblemas>li {
    display: inline-block;
} */

p {
    font-family: 'Roboto Slab', serif;
    text-indent: 15pt;
    text-align: justify;
}

ul {
    list-style-type: none;
    line-height: 24pt;
    font-size: 14pt;
}

ul li::before {
    content: "\25A0";
    color: #F05D5E;
    margin: .75em;
}

a {
    text-decoration: none;
    line-height: 17pt;
    font-weight: 700;
}

a:link {
    color: #468189;
    box-shadow: 0 6pt 0pt -3pt #468189;
}

a:hover {
    color: #6f8695;
    box-shadow: 0 6pt 0pt -3pt #6f8695;
}

a:active {
    color: #031926;
    box-shadow: 0 6pt 0pt -3pt #031926;
}

a:visited {
    color: #0d5c63;
    box-shadow: 0 6pt 0pt -3pt #0d5c63;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #031926;
    margin-bottom: 2pt !important;
}

/* Artigos */

/* h4,
h5 {
    font-size: 12.5pt;
    margin-top: 5pt;
} */

/* Artigos */

/* blockquote {
    margin-top: 5pt;
    margin-bottom: 5pt;
} */

.highlight {
    color: #F05D5E;
    font-weight: 700;
    font-family: "Exo 2", sans-serif;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.botao {
    border: 1px solid #FFFFFA;
    color: #FFFFFA;
    border-radius: 10px;
    background-color: transparent;
    font-size: 10pt;
    padding: 8pt;
    cursor: pointer;
    transition: all .2s;
}

.botao:hover {
    background-color: #FFFFFA;
    color: #F05D5E;
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    #saudacao {
        font-size: 30pt;
        line-height: 30pt;
    }
    #subtexto {
        font-size: 18pt;
    }
    /* Artigos - JogoTrivia*/
    /* #jogoTrivia>div.wrapper {
        flex-direction: initial;
    } */
    /* Artigos - JogoTrivia*/
    /* .limg {
        display: initial;
    } */
    /* Artigos - JogoTrivia*/
    /* #jogoTrivia>div.wrapper>p:first-of-type {
        order: 1;
        width: 150%;
        margin-right: 15px;
    } */
}

/* Medium devices (landscape tablets, 895px and up) */

@media only screen and (min-width: 895px) {
    #saudacao {
        font-size: 40pt;
        line-height: 40pt;
    }
    #subtexto {
        font-size: 18pt;
    }
    .container {
        width: 870px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Artigos - JogoTrivia*/
    /* .xlimg {
        display: initial;
    } */
    /* Artigos - JogoTrivia*/
    /* #jogoTrivia>div.wrapper {
        flex-direction: column;
    } */
    /* Artigos - JogoTrivia*/
    /* #jogoTrivia>div.wrapper>#imgJogoTrivia {
        order: 2;
    } */
    /* Artigos - JogoTrivia*/
    /* #jogoTrivia>div.wrapper>p:first-of-type {
        width: initial;
        margin-right: initial;
    } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}