#home-hero {
  & {
    background-color: #{$text-color};
    color: #{$background-color};
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20pt;
  }

  a {
    &:link,
    &:visited {
      color: #{$background-color};
      box-shadow: 0 6pt 0pt -3pt #{$background-color};
    }
    &:hover {
      color: #{$brand-color};
      box-shadow: 0 6pt 0pt -3pt #{$brand-color};
    }
  }

  #content {
    & {
      font-size: 18pt;
    }

    #greeting {
      font-size: 30pt;
      font-weight: 300;
      margin-bottom: 16px;
      line-height: 1;
    }

    #subtext {
      font-weight: 200;
      margin-bottom: 16px;
      line-height: 1.2;
    }

    ul,
    li {
      font-size: 14pt;
      list-style-type: none;
    }

    li > i.fab,
    li > i.fas {
      margin-right: 5pt;
    }
  }

  #arrow-scrolldown {
    & {
      color: #{$background-color};
      position: absolute;
      bottom: 0;
      margin: 15px auto;
      display: inline-block;
      text-align: center;
      font-size: 18pt;
      box-shadow: none !important;
      cursor: pointer;
    }
    &:hover {
      color: #{$brand-color};
    }
  }
}

section {
  clear: both;
  h1, h2 {
    font-size: #{$base-font-size * 2};
    text-align: center;
  }
}

.highlighted {
  color: #{$brand-color};
  font-weight: 700;
  font-family: "Exo 2", sans-serif;
  white-space: nowrap;
}

section#projects {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $spacing-unit / 2;
    li {
      display: inline-block;
      &::before {
        display: none;
      }
    }
  }

  .card {
    display: block;
    max-width: $content-width / 2.5;
  }
}

section#blog-posts {
  ul
  a {
    box-shadow: none;
  }
}
